
@media (max-width:320px) {

    .grid{
        grid-template-columns: 1fr;
    }
    
    &__cards{
        justify-items: center;

    }
    &__img{

        justify-items: center;;
    }

    .recetas__grid {
        grid-template-columns: 1fr;
    }


}

@media (max-width:425px) {

    .grid{

        grid-template-columns: 1fr;
    
        &__cards{
            justify-items: center;
    
        }
        &__img{
    
            justify-items: center;;
        }
    
       }

    .recetas__grid{
        grid-template-columns: 1fr;
    }


}

@media (max-width:768px) {

    .grid{
        grid-template-columns: 1fr;
    

    &__cards{
        justify-items: center;

    }
    &__img{

        justify-items: center;;
    }
}

    .recetas__grid{
        grid-template-columns: 1fr;
    }


}


